/* Body foreground color */
body {
    color: #161616;
}

/* Anchor elements foreground color */
a {
    color: #161616;
}

/* Hide elements with class visually-hidden */
.visually-hidden {
    display: none;
}

/* Foreground color for elements with class card-category */
.card-category {
    color: #D73953;
}

/* Foreground color for elements with class section-tagline */
.section-tagline {
    color: #D73953;
}
